[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "lib/ifcplusplus"]
	path = lib/ifcplusplus
	url = https://github.com/ifcquery/ifcplusplus.git
	branch = master
[submodule "lib/jsoncpp"]
	path = lib/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	branch = master
[submodule "lib/libcitygml"]
	path = lib/libcitygml
	url = https://github.com/jklimke/libcitygml.git
	branch = master
[submodule "lib/xerces"]
	path = lib/xerces
	url = https://github.com/apache/xerces-c.git
	branch = trunk
[submodule "lib/proj"]
	path = lib/proj
	url = https://github.com/OSGeo/proj.4.git
	branch = master
[submodule "lib/catch2"]
	path = lib/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = master
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
